

<div class="fullpage">

<div class="container-fluid">
<!--heading-->
<div class="row"  style=" height:10%; display: block; ">
<div class="col-xs-12 col-md-12"  style=" background-color:#4F1C2D; height:100%; display: block;"><app-header></app-header></div>
</div>



<div class="row"  style=" height:85%; display: block; ">
<!--side list-->
<div class="col-xs-12 col-md-4"  style=" background-color:#0D9891; height:100%; display: block;"><app-list></app-list></div>
<!--month view-->
<div class="col-xs-12 col-md-8"  style=" background-color:#0D9891; height:100%; display: block;"><app-monthview></app-monthview></div>

</div>
<div class="row"  style=" height:5%; display: block; ">

<div class="col-xs-12 col-md-4"  style=" background-color:#0D9891; height:100%; display: block;"></div>
<div class="col-xs-12 col-md-8"  style=" background-color:#0D9891; height:100%; display: block;"></div>


</div>


</div>

</div>